html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
  overflow: hidden;

  @media (min-width: 2400px) {
    font-size: 18px;
  }
}

a {
  color: $main-color;
  text-decoration: none;
}

a:hover {
  color: darken($main-color, 10%);
}
