<div class="home">
  <section class="homeContainer">
    <nav class="homeContainer-navbar">
      <h1>Gitsy</h1>
      <ul>
        <!-- <li>The Story</li> -->
        <a href="<%= root_url %>auth/github">
          <li id="github-login-btn"><i class="fa fa-github" aria-hidden="true"></i> Login</li>
        </a>
      </ul>
    </nav>

    <div class="homeContainer-content">
      <div class="homeContainer-content-left">
        <h2>Organize your Github Stars like a true Stargazer</h2>
        <div class="homeContainer-content-left-features">
          <div>
            <p><i class="fa fa-star fa-lg" aria-hidden="true"></i> <b>Star Levels</b> - mark your favorite repos</p>
          </div>
          <div>
            <p><i class="fa fa-tag fa-lg" aria-hidden="true"></i> <b>Tag functionality</b> - it's time to categorize</p>
          </div>
          <div>
            <p><i class="fa fa-search fa-lg" aria-hidden="true"></i> <b>Powerful Search & Filters</b> - quickly find any repo </p>
          </div>
        </div>
      </div>
      <div class="homeContainer-content-right">
        <img src="https://dl.dropboxusercontent.com/u/95000234/img%20cdn/gitsy/screenshot.png" alt="Gitsy Dashboard" />
      </div>
    </div>
  </section>
</div>
