<div class="home">
  <div class="home-navbar">
    <h1 class="home-navbar-title"><i class="fa fa-asterisk" aria-hidden="true"></i>Astrix</h1>
    <ul class="home-navbar-menu">
      <li class="home-navbar-menu-item"><a href="#">The Story</a></li>
      <li class="home-navbar-menu-item"><a href="#">About</a></li>
      <li class="home-navbar-menu-item"><a><i class="fa fa-github" aria-hidden="true"></i> Github Login</a></li>
    </ul>
  </div>

  <h3 class="home-subtitle">The GitHub Repo Management Tool Every Stargazer Should Have</h3>

  <div class="home-buttons">
    <div class="home-buttons-learnMoreBtn">Learn More</div>
    <p class="home-buttons-separator">OR</p>
    <div class="home-buttons-signUpBtn">Get Started</div>
  </div>

  <div class="home-hero">
    <video class="covervid-video" autoPlay loop poster="img/video-fallback.png">
      <source src="https://dl.dropboxusercontent.com/u/95000234/CDN/AstroCat/videos/space.mp4" type="video/mp4"/>
    </video>
  </div>
</div>