.Dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  &-theSidebar {
    width: 100%;
    background-color: $bg1;
  }

  &-theRepoTools {
    width: 100%;
    background-color: $bg2;
  }

  &-theRepoList {
    width: 100%;
    background-color: $bg2;
  }

  &-theReadme {
    display: none;
  }
}
@media(min-width: 768px) {
  .Dashboard {
    flex-direction: row;

    &-theSidebar {
      height: 100%;
      width: 40%;
    }

    &-theRepoView {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 60%;
    }

    &-theRepoTools {
      height: 100%;
      width: 100%;
    }
  }
}

@media(min-width: 900px) {
  .Dashboard {
    flex-direction: row;

    &-theSidebar {
      height: 100%;
      width: 30%;
    }

    &-theRepoView {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 70%;
    }

    &-theRepoTools {
      height: 100%;
      width: 100%;
    }
  }
}

@media(min-width: 1180px) {
  .Dashboard {
    flex-direction: row;

    &-theSidebar {
      height: 100%;
      width: 23%;
    }

    &-theRepoView {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 30%;
    }

    &-theRepoTools {
      height: 100%;
      width: 100%;
    }

    &-theReadme {
      display: block;
      height: 100%;
      width: 47%;
      background-color: $bg1;
    }
  }
}
