.AppHeader {
  color: $blue;
  background: $white;
  height: 66px;
  border-bottom: 1px solid $almost-white;

  /* app header container */
  & > div {
    height: inherit;
    display: flex;
    justify-content: space-between;
  }

  /* app header left items */
  &-left {
    padding-left: 1rem;
    display: flex;
    align-items: center;
  }
  &-logo {
    h1 {
      display: flex;
    }
  }

  /* app header right items */
  &-right {
    height: inherit;
  }
  &-rightContainer {
    height: inherit;
    position: relative;
  }
  &-user {
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    height: inherit;
    display: flex;
    align-items: center;
  }
  &-globalSearch {
    border: 2px solid $blue;
    border-radius: 5px;
    color: $blue;
    outline: none;
    box-sizing: border-box;
    padding: 8px 20px;
    margin-left: 7px;

    &::-webkit-input-placeholder {
      color: $light-gray;
    }
    &::-moz-placeholder {
      color: $light-gray;
    }
    &:-ms-input-placeholder {
      color: $light-gray;
    }
    &:-moz-placeholder {
      color: $light-gray;
    }
  }
  &-avatar {
    height: 2.5rem;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid $almost-white;

    img {
      width: 2.5rem;
      border: 1px solid $white;
      box-shadow: 0 0 0 2px $blue;
      border-radius: 50%;
    }
  }
  .AppMenuDrop-check {
    display: none;
  }
  .AppMenuDrop {
    position: absolute;
    top: 100%;
    right: 1rem;
    z-index: 5;
    margin-top: -2rem;
    opacity: 0;
    transition: .2s;
    visibility: hidden;
    list-style-type: none;
    /* style the list */
    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 230px;
      background: $blue;
      color: $white;
      border-top: 1px solid $white;
      display: block;
      padding: 1em 2.8em 1em 2em;
      text-shadow: 0 -1px 0 rgba(0,0,0,.4);
      font-weight: 500;
      position: relative;
      text-decoration: none;
      border-bottom: 0;

      &:hover {
        background: lighten($blue, 5%);
      }
    }
  }
  .AppMenuDrop-check:checked ~ .AppMenuDrop {
    visibility: visible;
    opacity: 1;
    filter: none;
    margin-top: .5rem;
  }
}
