.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $white;
  color: $dark-gray;
  font-weight: 500;
  border-bottom: 1px solid $almost-white;

  &-top {
    display: flex;
    flex-direction: column;
    position: relative;

    &__center {
      align-self: center;
      color: $blue;
    }
    &__right {
      position: absolute;
      top: 0;
      right: 0;

      &-avatar {
        margin-top: 1.1rem;
        margin-right: 1.1rem;

        img {
          width: 2.7rem;
          border: 2px solid $blue;
          border-radius: 50%;
        }
      }
    }
  }

  &-gitoscope-settings {
    display: flex;
    justify-content: flex-start;

    &-firstPanel {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: 2.4rem;

      &-reset {
        cursor: pointer;
      }

      &-components {
        display: flex;
        border-radius: 5px;
        position: relative;
      }
    }
  }
}

// user avatar container (clickable)
#user-avatar {
  &:focus {
    ~ .nav-menu-dropdown {
      visibility: visible;
      opacity: 1;
      filter: none;
      margin-top: .5rem;
    }
  }
}

// nav menu dropdown
.nav-menu-dropdown {
  position: absolute;
  top: 100%;
  right: 10px;
  z-index: 5;
  margin-top: -2rem;
  opacity: 0;
  transition: .2s;
  visibility: hidden;
  background: $blue;
  list-style-type: none;
  padding-left: 0;

  li {
    display: list-item;
    text-align: -webkit-match-parent;

    &:hover {
      background: lighten($blue, 5%);
      text-decoration: none;
    }

    a {
      color: $white;
      text-decoration: none;
      border-bottom: 0;
      text-shadow: 0 -1px 0 rgba(0,0,0,.4);
      font-weight: 500;
      padding: .8rem 3.3rem .8rem 3rem;
      border-top: 1px solid $white;
      position: relative;
      display: block;
      width: 100%;
    }
  }
}

// pseudo-selectors for nav dropdown content
#nav-settings {
  &::after {
    content: 'Settings'
  }
}
#nav-story {
  &::after {
    content: 'The Story'
  }
}
#nav-contact {
  &::after {
    content: 'Contact'
  }
}
#nav-feedback {
  &::after {
    content: 'Feedback'
  }
}
#nav-signout {
  &::after {
    content: 'Sign Out'
  }
}
