.one-star {
  background: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid $kind-of-gray;
  border-right: 1px solid $kind-of-gray;
  border-bottom: 1px solid $kind-of-gray;
  border-top: 1px solid $kind-of-gray;
  color: $light-gray;
  cursor: pointer;
  align-self: center;
  padding: .2rem .6rem;

  &:hover {
    background: $blue;
    color: $white;
    border-color: $blue;
  }
}
