.RepoList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  
  @media(min-height: 900px) {
    height: 65vh;
  }
  @media(min-height: 1200px) {
    height: 75vh;
  }

  &-theList {
    margin-top: 1rem;
    height: 55vh;

    &-container {
      height: 100%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-track {
        background: $scrollbar;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb;
        outline: 1px solid $scrollbar-thumb;
      }
    }
  }
  @media(min-width: 2200px) {
    &-theList {
      height: 66vh;
    }
  }
}
