.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  background: $blue;
  color: $white;

  &-title {
    text-align: center;
    border-bottom: 2px solid $white;
    align-self: center;
  }
}
