.two-stars {
  background: transparent;
  border-right: 1px solid $kind-of-gray;
  border-bottom: 1px solid $kind-of-gray;
  border-top: 1px solid $kind-of-gray;
  color: $light-gray;
  cursor: pointer;
  align-self: center;
  padding: .5rem 1rem;

  &:hover {
    background: $blue;
    color: $white;
    border-color: $blue;
  }
}
