// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-navbar {
    display: flex;
    justify-content: center;
    @media(min-width: 768px) {
      justify-content: space-between;
    }

    &-title {
      text-align: center;
      color: white;
      font-size: 3rem;
      z-index: 9;
      padding-top: 3rem;
    }
    @media(min-width: 768px) {
      &-title {
        text-align: left;
        top: 0;
        left: 0;
        font-size: 3.2rem;
        margin-left: 3rem;
        padding-top: 2.5rem;
      }
    }
    @media(min-width: 1200px) {
      &-title {
        font-size: 3.3rem;
      }
    }

    &-menu {
      z-index: 9;
      font-size: 1.2rem;
      list-style-type: none;
      padding-top: 3rem;
      margin-right: 3rem;
      display: none;
      @media(min-width: 768px) {
        display: inline-flex;
      }

      &-item {
        margin: 0 .8rem;

        a {
          color: white;

          &:hover {
            border-bottom: 2px solid white;
          }
        }
      }
    }
  }

  &-subtitle {
    color: white;
    padding: 0 2rem;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 10rem;
    z-index: 9;
  }
  @media(min-width: 768px) {
    &-subtitle {
      font-size: 2.6rem;
    }
  }
  @media(min-width: 1200px) {
    &-subtitle {
      font-size: 2.8rem;
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    &-separator {
      color: white;
      z-index: 9;
      padding-top: 1rem;
    }

    &-learnMoreBtn {
      color: white;
      z-index: 9;
      background: transparent;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 700;
      border: 3px solid white;
      margin-right: 1rem;
      border-radius: 2.7px;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
      transition: .5s;

      &:hover {
        background: white;
        color: #666666;
        cursor: pointer;
      }
    }

    &-signUpBtn {
      color: white;
      z-index: 9;
      background: #00AB6C;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 700;
      border: 3px solid #00AB6C;
      margin-left: 1rem;
      border-radius: 2.7px;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      
      &:hover {
        background: #00925c;
        border-color: #00925c;
        color: whitesmoke;
        cursor: pointer;
      }
    }
  }

  &-hero {
    background: black;
    // covervid settings
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}