<!DOCTYPE html>
<html>
  <head>
    <title>gitoscope</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://use.fontawesome.com/b46212bfe1.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <script src="https://use.typekit.net/iyl1dnl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="https://npmcdn.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
